body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    /* font-weight: normal; */
    /* background-color: black;
    color: white; */
}
#top{
    background-color: darkblue;
    color: white;

}
.bottom{
    background-color: darkblue;
    color: white;
    line-height: 2em;
}
#favorite{
    border: 12px ridge darkblue;
}
.big-quality{
    background-color: darkblue;
    color: white;
}
#bolden{
    font-weight:bold;
}
#meals{
    background-color: lightgray;
    border: 2px dashed darkgrey;
    height: 75px;
    overflow-y: auto;
}
table{
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}
#quote{
    font-style: italic;
}
#love{
  background-color: red;
    color: white;
}
#container{
    width: 80%;
    margin: auto;
    border: 2px solid darkblue;
    border-top: 15px solid darkblue;
    padding: 15px;
}
.photo{
    margin: 10px;
    border: 12px ridge grey;
}
.character{
  position: absolute;
  z-index: 1;
  top: 50%;
}
#toad{
left: 75%;
}
#daisy{
left: 30%;
}
#peach{
left: 60%;
}
#rosalina{
  left: 45%;
}
.game{
  position: relative;
  width: 90%;
  margin: 0 auto;
}
#landscape{
  border: 10px ridge grey;
  margin: 0 auto;
  width: 95%;
}
#khanacademy{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100px;
}
#codelinks{
  float: right;
  width: 30%;
  margin-left: 10px;
  background-color:beige;
}
a:hover, a:focus, a:active{
  background-color: lightpink;
}
